AddType text/css .css
RewriteEngine on
RewriteCond $1 !^(index\.php|images|entidades|bower_components|views|fonts|i18n|scripts|styles|robots\.txt|info\.php)
RewriteRule ^(.*)$ /gestion_socios/index.php?/$1 [L]
